<div class="w-screen h-screen bg-gray-50 relative">
  <div class="absolute w-full h-full">
    <img
      loading="lazy"
      class="absolute w-80 bottom-0 left-0"
      src="/assets/svg/login-bg-left.svg"
      alt="logo"
    />
    <img
      loading="lazy"
      class="absolute w-80 bottom-0 right-0"
      src="/assets/svg/login-bg-rigth.svg"
      alt="logo"
    />
  </div>
  <div class="relative w-2/6 m-auto">
    <header class="pt-10 pb-4 flex justify-center">
      <img
        loading="lazy"
        class="w-64"
        src="/assets/images/logo-blue.png"
        alt="logo"
      />
    </header>
    <div class="bg-white rounded shadow-lg py-4 px-9">
      <div class="mb-4">
        <app-login-form></app-login-form>
      </div>
      <hr class="my-4 border-b-1 border-r-gray-300" />
      <div class="flex justify-center space-x-2">
        <a href="" class="text-blue-600">Can't log in?</a>
        <span class="text-gray-500">•</span>
        <a routerLink="/as" class="text-blue-600">Sign up for an account</a>
      </div>
    </div>
    <hr class="mt-10 border-b-1 border-r-gray-300" />
    <div class="flex justify-center">
      <img
        loading="lazy"
        class="w-32 mt-4"
        src="/assets/images/logo-gray.png"
        alt="logo"
      />
    </div>
  </div>
</div>
